@charset "utf-8";
body{
			background-color:floralwhite;
			font-family:"san serif";
			text-align: center;
		}
		h1, h2 {
			font-family:fredericka the great,fantasy;
			font-weight: normal;
}
		.superLearners {
			    font-size: 65px;
				position: absolute;
				left: 66px;
				top: 475px;
				color: #333333;
		}
		.headerContainer {
			text-align: center;
			font-size: 160px;
		}
		.headerContainer span {
			margin-right:-65px;
		}
		.headerSpace {
			margin:150px;
		}
		.headerBlue {
				color:#001ceb;
			margin: 0px;
			padding:0px;
		}

	.headeryellow {
			color:#f6bb08;
			margin: 0px;
			padding:0px;
		}

	.headerpurple {
			color:#6d51bd;
			margin: 0px;
			padding:0px;
		}
	.headerpink {
			color:#d05d8f;
			margin: 0px;
			padding:0px;
		}
.headergreen {
			color:#cbf4cb;
			margin: 0px;
			padding:0px;
		}

		.headerviolet {
			color:#afa1da;
			margin: 0px;
			padding:0px;
		}
		ul {
    		list-style-type: none;
    		margin: 0 auto;
    		padding: 0;
    		overflow: hidden;
			text-align: center;
			font-size:28px;
			width:80%;
			padding-left: 10%;
			padding-right: 10%;
		}

		li {
			float: left;
			width:25%;
		}

		li a {
			display: block;
			color: #464646;
			text-align: center;
			padding: 14px 50px;
			text-decoration: none;
		}

		li a:hover {
			color:darkgrey;
		}

	.nav-bar li ul {
		position: absolute;
		display: none;
		width: inherit;
	  }

	.nav-bar li:hover ul {
		display: block;
	  }

	  .nav-bar li ul li {
		display: block;
		margin-left: -50px;
    	width: 175px;
		float: none;
	  }

	.nav-bar li ul li a {
		background-color: floralwhite;
    	padding-left: 10px;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: left;

	  }
		
		.galleryImage {
			border-radius: 50%;
			width: 120px;
			height: 120px;
			padding-left: 15px;
			padding-right: 15px;
			
		}
		
		.herocontainer {
			width: 100%;
			background-color:#c9b8a1
		}
		.heroImage {
			display:inline-block;
			width:50%;
			height:auto;
			padding: 10px;
		}
		.herotext{
			display:inline-block;
			margin-left: 10px;
			width: 45%;
			vertical-align: top;
		}
		.mainPanelText {
			font-size: 25px; 
			text-align:left;
		}
		.socialcontainer{
			text-align: right;
			
			
		}
		.socialcontainer img{
			height: auto;
			width: 50px;
			border-radius:0;
			padding-left: 0;
			padding-right: 5px;
		}
		.socialcontainer a{
			text-decoration:none;
		}

.halfPageCol {
	width: 40%;
	display:inline-block;
	text-align: left;
	vertical-align: top;
}
